[submodule "digilent-vivado-scripts"]
	path = digilent-vivado-scripts
	url = https://github.com/digilent/digilent-vivado-scripts.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/Digilent/digilent-vitis-scripts
